body{
     width: 100vw;
     min-height: 100vh;

}

header{
     display: flex;
     justify-content: center;

}
.container-header{
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: 1px solid hsl(240, 6%, 83%);
     padding: 30px;
     box-sizing: border-box;
     width: 60%;
     min-width: 750px;
 }

/*.............Corpo Esquerdo........*/

.header-esquerdo a{
     color: hsl(240, 1%, 53%);
     text-decoration: none;
     margin-left: 20px;
     padding-bottom: 32px;
}

.header-esquerdo a:hover{
     width: 100%;
     transition: 0.5s;
     border-bottom: 5px solid hsl(26, 100%, 55%);
}

.fotos-produtos{
     margin-top: 150px;
     background-color: aqua;
}

.foto-principal img{
     border-radius: 5px;
}

.fotos-secundarias{
     margin-top: 10px;
     border-width: 0px;
     padding: 0px;
}
.fotos-secundarias img{
     border-radius: 5px;
}

.bt-1{
     border-width: 0px;
     padding: 0px;
     cursor: pointer;
}
.bt-1 img{
     border-radius: 5px;
}
.bt-2{
     border-width: 0px;
     padding: 0px;
     cursor: pointer;
}
.bt-2 img{
     border-radius: 5px;
}
.bt-3{
     border-width: 0px;
     padding: 0px;
     cursor: pointer;
}
.bt-3 img{
     border-radius: 5px;
}
.bt-4{
     border-width: 0px;
     padding: 0px;
     cursor: pointer;
}
.bt-4 img{
     border-radius: 5px;
}
/*............Corpo Direito.............*/

.header-direito{
     display: flex;
     align-items: center;
}

.header-direito .carrinho-cabeçalho{
     margin-right: 25px;
}


/*...................................*/
.corpo-projeto{
     display: flex;
     justify-content: center;
     align-content: center;
     
}

.class-information{
     margin-top: 190px;
     margin-left: 100px;
     background-color:blueviolet;
}

.class-information h3{
     color: hsl(26, 100%, 55%);
     font-family: 'Kumbh Sans', sans-serif;
     font-weight: 700;
     font-size: 12px;
}

.class-information h1{
     font-family: 'Kumbh Sans', sans-serif;
     font-weight: 700;
     font-size: 40px;
}

.text-information{
     font-size: 15px;
     font-family: 'Kumbh Sans', sans-serif;
     font-weight: 400;
     line-height: 20px;
     color: hsl(240, 1%, 53%);
}

.valores{
     display: flex;
     align-items: center;
     margin-top: -8px;
}

.valor-principal{
     font-family: 'Kumbh Sans', sans-serif;
     font-weight: 700;
     padding-right: 10px;
     font-size: 16px;
}

.desconto{
     width: 35px;
     height: 15px;
     background-color: hsl(25, 80%, 90%);
     color:hsl(26, 100%, 55%);
     font-family: 'Kumbh Sans', sans-serif;
     font-weight: 700;
     font-size: 11px;
     display: flex;
     justify-content: center;
     align-content: center;
     align-items: center;
     border-radius: 5px;
}

.valor-antigo{
     color: hsl(240, 2%, 72%);
     font-family: 'Kumbh Sans', sans-serif;
     font-weight: 700;
     font-size: 10px;
     text-decoration: line-through;
     margin-top: -10px;
}

.numeracao{
     display: flex;
     align-content: center;
     align-items: center;
     margin-top: 25px;
}

.quantidades{
     display: flex;
     justify-content: space-between;
     align-items: center;
     align-content: center;
     background-color: hsl(240, 13%, 91%);
     width: 80px;
     height: 20px;
     padding: 10px 10px;
     border-radius: 5px;
}

.btn-menos{
     border-width: 0px;
     padding: 0px;
     cursor: pointer;
     background-color: hsl(240, 13%, 91%);
}

.sinal-menos{
     margin-bottom: 2px;
}

.btn-mais{
     border-width: 0px;
     padding: 0px;
     cursor: pointer;
     background-color: hsl(240, 13%, 91%);
}

.sinal-mais{
     margin-top: 2px;
}

.btn-addcar{
     display: flex;
     align-items: center;
     justify-content: center;
     align-content: center;
     background-color:hsl(26, 100%, 55%);
     margin-left: 20px;
     width: 150px;
     height: 40px;
     border-radius: 5px;  
     cursor: pointer;
     border-width: 0px;
}

.carrinho-compra{
     width: 17px;
     height: 17px;
}

.adicionar{
     color: white;
     font-size: 12px;
     font-family: 'Kumbh Sans', sans-serif;
     font-weight: 400;
     padding-left: 5px;
}

/*.......Responsive designer...........*/
@media (max-width: 767px){
    .header-esquerdo a{
     display: none;
    }

    .img-1{
     margin-left: 60px;
    }

    .header-direito{
     margin-right: 60px;
    }

}

@media (max-width: 550px){
    .fotos-secundarias a{
     display: none;
    }

    .corpo-projeto{
     display: flex;
     flex-direction: column;
    }

    .img-1{
     margin-left: 200px;
    }

    .header-direito{
     margin-right: 80px;
    }
     
    .carrinho-cabeçalho{
     width: 25px;
    }
    }

@media (max-width: 430px){
     body{
          margin: 0px;
          
          padding: 0px;
     
     }

     .container-header{
          display: flex;
          justify-content:space-between;
          margin: 0px;
          background-color: aqua;
     }

     .img-principal{
          width: 500px;
          height: 500x;
     }

     .class-information{
          background-color: rgb(99, 79, 55);
     
     }
}

@media (max-width: 320px){
     body{
          background-color: blueviolet;
          width: 320px;
          height: 729px;
          margin: 0px;
     }
}


     


     





/*.............Footer...................*/

.attribution {
     font-size: 11px; 
     text-align: center;
     margin-top: 20px;
}
.attribution a {
     color: hsl(228, 45%, 44%);
}
