.cabeçalho{
     display: flex;
     justify-content: center;
     padding: 30px;
     margin-left: 420px;
     margin-right: 430px;
     border-bottom: 1px solid rgb(211, 206, 206);
}

.class-esquerda a{
     padding-left: 25px;
     color: grey;
     text-decoration: none;
}

.menu-itens{
     margin-top: -20px;
     padding-left: 50px;
}

.class-esquerda{
     margin-left: 50px;
}

.class-esquerda img{
     margin-left: -120px;

}

.class-direita{
     padding-left: 420px;
     
}

.carrinho-cabeçalho{
     padding-right: 22px;
     margin-bottom: 10px;
}

.perfil{
     margin-right: -150px;
}

/*...................................*/
.corpo-projeto{
     display: flex;
     justify-content: center;
     align-content: center;
}

/*.............Corpo Esquerdo........*/

.fotos-produtos{
     margin-top: 150px;
}

.foto-principal img{
     border-radius: 5px;
}

.fotos-secundarias{
     margin-top: 15px;
}

.fotos-secundarias img{
     border-radius: 5px;
}
/*............Corpo Direito.............*/
.class-information{
     margin-top: 150px;
     margin-left: 100px;
}

.class-information h3{
     color: hsl(26, 100%, 55%) ;
     font-family: 'Kumbh Sans', sans-serif;
     font-weight: 700;
     font-size: 12px;
}

.class-information h1{
     font-family: 'Kumbh Sans', sans-serif;
     font-weight: 700;
}

.text-information{
     font-size: 14px;
     font-family: 'Kumbh Sans', sans-serif;
     font-weight: 400;
     line-height: 20px;
     color: hsl(240, 1%, 53%);
}

.valores{
     display: flex;
     align-items: center;
     margin-top: -8px;
}

.valor-principal{
     font-family: 'Kumbh Sans', sans-serif;
     font-weight: 700;
     padding-right: 10px;
     font-size: 16px;
}

.desconto{
     width: 35px;
     height: 15px;
     background-color: hsl(25, 80%, 90%);
     color:hsl(26, 100%, 55%);
     font-family: 'Kumbh Sans', sans-serif;
     font-weight: 700;
     font-size: 11px;
     display: flex;
     justify-content: center;
     align-content: center;
     align-items: center;
     border-radius: 5px;
}

.valor-antigo{
     color: hsl(240, 1%, 53%);
     font-family: 'Kumbh Sans', sans-serif;
     font-weight: 700;
     font-size: 10px;
     text-decoration: line-through;
     margin-top: -10px;
}

.numeracao{
     display: flex;
     background-color: aqua;
     align-content: center;
     align-items: center;
}

.quantidades{
     display: flex;
     justify-content: space-between;
     align-items: center;
     align-content: center;
     background-color: hsl(240, 13%, 91%);
     width: 50px;
     height: 15px;
     padding: 5px 5px;

}

.sinal-menos{
     
}

.add-car{
     display: flex;
}

/*.............Footer...................*/

.attribution {
     font-size: 11px; 
     text-align: center;
     margin-top: 20px;
}
.attribution a {
     color: hsl(228, 45%, 44%);
}
